.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  position: relative;
  top: 0;
  z-index: 1000;
  background: var(--white-background);
  transition: top 0.3s ease-in-out;
}

.header.hidden {
  top: -100px;
  transition: top 0.3s ease-in-out;
}

.header.sticky {
  position: sticky;
  top: 0;
  transition: top 0.3s ease-in-out;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 78px;
}

.visible {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: var(--white-background);

  transition: top 0.3s ease-in-out;
}

.smallLogo {
  width: 50px;
}

@media screen and (max-width: 920px) {
  .logo {
    width: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .headerContent {
    justify-content: space-between;
  }
  .header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--white-background);
    transition: top 0.3s ease-in-out;
  }
}
