.contactsPage {
  background: url("/images/GreenvitRzonka14low-scaled.jpg") no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  height: 400px;
  width: 100%;
  color: var(--white-background);
}

.wrapper {
  background-color: #0d80ce96;
  background: linear-gradient(90deg, #02b3f9 0%, #02b3f9e0 40%, #02b3f900 100%);
  height: 100%;
  display: flex;
  align-items: center;
}
.textBlock {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  margin-bottom: 20px;
  max-width: 50%;
  font-size: 20px;
  line-height: 1.3;
}

.descriptionBlock ul {
  margin-bottom: 10px;
}

.breadcrumbs ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.breadcrumbs ul li {
  margin-right: 10px;
  transition: all 0.2s ease;
  font-size: 18px;
}

.breadcrumbs ul li a:hover {
  text-decoration: underline;
}

.breadcrumbs ul li:not(:first-child) {
  margin-left: 10px;
}

.contactsSection {
  background: var(--light-gray);

}

.contactsServices {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding-bottom: 80px;
  padding-top: 80px;
}

.contactServiceItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: 20px;
  box-shadow: rgba(34, 60, 80, 0.2) 4px 0px 14px 1px;
  font-size: 18px;
  padding: 40px;
  border-radius: 6px;
  background-color: var(--white-background);
  color: var(--dark-blue);
  min-height: 200px;
}

.contactIcon {
  width: 40px;
}
.contactServiceItem h3 {
  font-size: 20px;
  color: #595959;
}

.contactServiceItem a {
  font-weight: 700;
  font-size: 18px;
}
