.nav {
  flex: 1;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--gray);
}

.listItem {
  transition: all 0.2s ease;
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.listItem a {
  padding-top: 40px;
  padding-bottom: 40px;
}

.listItem.smallListItem {
  padding-top: 20px;
  padding-bottom: 20px;
}

.listItem:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.catalogLink {
  position: relative;
}

.catalogMenu {
  position: absolute;
  background: var(--white-background);
  padding: 20px;
  min-width: 400px;
  top: 80px;
  left: -20px;
  border-radius: 6px;
  box-shadow: 0px -4px 13px 0px rgba(34, 60, 80, 0.2);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  pointer-events: none;
}

.catalogMenu.smallTop {
  top: 50px;
}

.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.catalogMenuItem {
  color: var(--gray);
  transition: all 0.2s ease-in-out;
}

.catalogMenuItem a {
  padding: 0;
}

.catalogMenuItem:hover {
  color: var(--dark-blue);
  cursor: pointer;
  padding-left: 5px;
  transition: all 0.2s ease-in-out;
}

.catalogMenuItem:not(:last-child) {
  margin-bottom: 10px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: 4px;
}
