.infoPage {
  background: url("/images/info/info-page-banner.webp") no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  height: 400px;
  width: 100%;
  color: var(--white-background);
}

.wrapper {
  background-color: #0d80ce96;
  background: linear-gradient(90deg, #02b3f9 0%, #02b3f9e0 40%, #02b3f900 100%);
  height: 100%;
  display: flex;
  align-items: center;
}

.textBlock {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  margin-bottom: 20px;
  max-width: 50%;
  font-size: 20px;
  line-height: 1.3;
}

.descriptionBlock ul {
  margin-bottom: 10px;
}

.breadcrumbs ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.breadcrumbs ul li {
  margin-right: 10px;
  transition: all 0.2s ease;
  font-size: 18px;
}

.breadcrumbs ul li a:hover {
  text-decoration: underline;
}

.breadcrumbs ul li:not(:first-child) {
  margin-left: 10px;
}

.contentInfoWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.itemTitle {
  color: var(--blue);
  font-size: 26px;
  margin-bottom: 20px;
}

.infoItem h4 {
  color: var(--foreground);
  margin-bottom: 5px;
}

.infoItem p {
  margin-bottom: 20px;
}

.infoItemImg {
  border-radius: 16px;
}

@media (max-width: 768) {
  .contentInfoWrapper {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .wrapper {
    margin-top: 70px;
  }
  .infoPage {
    height: 300px;
  }
  .title {
    font-size: 28px;
  }
  .subtitle {
    max-width: 100%;
  }
  .breadcrumbs ul {
    margin-bottom: 20px;
  }
}
