.servicesSection {
  padding: 140px 0;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.item img {
  width: 45px;
  height: 45px;
}

.item {
  background-color: var(--light-gray);
  background-image: url("/images/services/service_bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  transition-duration: 0.5s;
  display: inline-block;
  flex: 33.333%;
}

.item:hover {
  background-color: var(--dark-blue);
  background-image: url("/images/services/service_hover_bg.png");
  color: var(--white-background);
}

.content {
  padding: 40px;
}

.iconWrapper {
  background-color: var(--dark-blue);
  box-shadow: 0px 8px 32px -8px rgba(13, 128, 206, 0.8);
  display: inline-block;
  border-radius: 6px;
  padding: 10px;
  margin: -40px 0 0 40px;
  width: 85px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}

.item svg {
  transition: fill 0.5s;
}

.item svg path {
  transition-duration: 0.5s;
}

.item:hover svg path {
  fill: var(--dark-blue);
}

.item:hover svg {
  animation: flip 0.5s forwards;
}

.item:hover .iconWrapper {
  background-color: var(--white-background);
}

.title {
  margin-bottom: 20px;
}

.subTitle {
  line-height: 1.2;
  font-size: 16px;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
