.catalogSection {
    background-color: var(--light-gray);
    padding: 80px;
}

.title {
    text-align: center;
    color: var(--blue);
    font-size: 30px;
}


.list {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 40px;
    padding-top: 60px;
}

.item {
    flex: 25%;
    background-color: var(--white-background);
    padding: 20px;
    border-radius: 6px;
}

.itemImg {
    max-width: 300px;
}

.itemTitle {
    margin-bottom: 30px;
}