:root {
  /*Colors*/
  --white-background: #fff;
  --foreground: #171717;
  --gray: #616161;
  --light-gray: #f7f7f7;
  --blue: #016fb4;
  --dark-blue: #0d80ce;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--gray);
  background: var(--white-background);
  font-family: var(--font-montserrat-alternates);
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  background: var(--blue);
  color: var(--background);
  background: transparent;
  padding: 20px 30px;
  border-radius: 5px;
  transition: all 0.2s ease;
  text-transform: uppercase;
  font-weight: 600;
}

button:hover {
  border: 2px solid var(--dark-blue);
  background: var(--white-background);
  color: var(--dark-blue);
}
