.catalogPage {
  background: url("/images/Merck1LOW-scaled.jpg") no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  height: 400px;
  width: 100%;
  color: var(--white-background);
}

.catalogWrapper {
  background-color: #0d80ce96;
  background: linear-gradient(90deg, #02b3f9 0%, #02b3f9e0 40%, #02b3f900 100%);
  height: 100%;
  display: flex;
  align-items: center;
}

.hotWaterBoilers {
  background: url("/images/catalog/vodogreinye-kotly/TNOXprincipale_2024-2048x1426.png")
    no-repeat;
  background-position: 80% center;
  background-size: contain;
  height: 400px;
  width: 100%;
  color: var(--white-background);
}

.thermalOilBoilers {
  background: url("/images/catalog/na-masle-kotly.jpg") no-repeat;
  background-position: 80% center;
  background-size: contain;
  height: 400px;
  width: 100%;
  color: var(--white-background);
}

.superheatedWaterBoilers {
  background: url("/images/catalog/na-peregretoy-vode-kotly.jpg") no-repeat;
  background-position: 80% center;
  background-size: contain;
  height: 400px;
  width: 100%;
  color: var(--white-background);
}

.steamBoilers {
  background: url("/images/catalog/parovye-kotly.jpg") no-repeat;
  background-position: 80% center;
  background-size: contain;
  height: 400px;
  width: 100%;
  color: var(--white-background);
}

.wrapper {
  background-color: #0d80ce96;
  height: 100%;
  display: flex;
  align-items: center;
}

.textBlock {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subtitle {
  margin-bottom: 20px;
}

.catalogSection {
  background-color: var(--light-gray);
  padding: 80px;
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 60px;
}

.item {
  position: relative;
  flex: 25%;
  background-color: var(--white-background);
  padding: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 4px 0px 14px 1px rgba(34, 60, 80, 0.2);
}

.itemText {
  margin-bottom: 20px;
}

.itemImg {
  max-width: 250px;
  transition: all 0.5s ease;
}

.itemTitle {
  margin-bottom: 22px;
  color: var(--light-blue);
  transition: all 0.5s ease;
}

.itemTitle:hover {
  color: var(--blue);
}

.item:hover img {
  transform: scale(1.1);
}

.item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 2px solid var(--blue);
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
  border-radius: 6px;
  pointer-events: none;
}

.item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 2px solid var(--blue);
  border-radius: 6px;
  transition: 0.4s;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.item:hover::after,
.item:hover::before {
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  border-radius: 6px;
}

.itemSubtitle {
  line-height: 1.3;
}

.productBannerSection {
  width: 100%;
  color: var(--light-blue);
}
.description p {
  line-height: 1.3;
}

.productWrapper {
  background-color: var(--light-gray);
  height: 100%;
  display: flex;
  align-items: center;
}

.productContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.productImageBlock {
  max-width: 40%;
}

.productTitle {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 36px;
}

.productSubtitle {
  margin-bottom: 20px;
  font-size: 18px;
}

.description {
  padding-top: 80px;
  padding-bottom: 80px;
}

.descriptionBlock {
  margin-bottom: 40px;
}

.descriptionTitle {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 26px;
  color: var(--white-background);
  padding: 15px;
  background-color: var(--light-blue);
  border-radius: 6px;
}

.descriptionSubtitle {
  margin-bottom: 10px;
}

.descriptionText {
  margin-bottom: 20px;
  padding-left: 10px;
}

.descriptionBlock ul {
  margin-bottom: 10px;
}

.breadcrumbs ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.breadcrumbs ul li {
  margin-right: 10px;
  transition: all 0.2s ease;
  font-size: 18px;
}
.breadcrumbs ul li a:hover {
  text-decoration: underline;
}

.breadcrumbs ul li:not(:first-child) {
  margin-left: 10px;
}
