.infoSection {
  position: relative;
  padding: 80px 0;
  background-repeat: no-repeat;
  overflow: hidden;
}

.infoBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.imgBlock img {
  border-radius: 6px;
}

.title {
  color: var(--blue);
  font-size: 30px;
  margin-bottom: 30px;
}

.text {
  margin-bottom: 20px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .infoBlock {
    flex-direction: column;
  }
  .imgBlock img {
    width: 100%;
  }
}